body, main{
  padding-top: 60px !important;
}

/*Háttérkép*/
body {
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3; 
  z-index: -1; 
}

a{
  color: #000000 !important;
  text-decoration: none;
}
a:hover{
  color:#000000 !important;
}

/*Header*/
.site-header{
    min-height: 30px;
    max-width: 90% !important;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.btn-reg{
  background-color: rgb(190, 0, 0) !important;
  border-color: rgb(190, 0, 0) !important;
}
.btn-reg:hover{
  background-color: rgb(226, 0, 0) !important;
  border-color: rgb(226, 0, 0) !important;
}
/*.sign-in, .registration{
    height: 30px;
    color: #0f1111;
    font-family: "Amazon Ember",sans-serif;
    line-height: 25px;
    text-decoration: none;
    background-color: #fff;
    padding: 3px 7px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 2px;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px ;
    font-size: 106%;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sign-in:hover, .registration:hover{
  box-shadow: rgba(159, 161, 161, 0.374) 0 3px 6px ;
}
.sign-in:hover{
  background-color: #dfdfdf;
}
.registration{
    background-color: red;
}
.registration:hover{
  background-color: crimson;
}
.sign-in > a:hover{
    text-decoration: none;
    color:#009579;
}*/
.other-sites > a{
    line-height: 30px;
    text-decoration: none;
    color: #0f1111;
    padding: 5px;
}
.other-sites > a:hover{
    color: #009579 !important;
    text-decoration: solid;
    text-decoration: underline solid #006653;
}
.btn{
  color: #fff !important;
}
.btn:hover{
  color: #fff !important;
}

/*Footer*/
.site-footer{
    min-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color: #3e4443;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.site-footer p:nth-child(1){
  margin-top: 10px;
}
.site-footer p:nth-child(2) {
    font-family: "Rubik","Helvetica Neue",Helvetica,Arial,sans-serif;;
    margin: 0;
    border-left: 1px solid #fff;
    padding-left: 20px;
    font-size: medium;
}

/*Fotózási tippek + kapcsolat oldal*/
.fotozastippek-style, .kapcsolat-style{
  max-width: 60% !important;
  padding-top: 15px !important;
  margin-top: 70px !important;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  font-family: Arial, Helvetica, sans-serif;
}
.fotozastippek-style > h1, h2, p{
  padding-left: 20px;
}
.kapcsolat-style > h1, h2, p{
  padding-left: 20px;
}

/*Menü oldal 1. kép*/
.kutya-hero{
  background: url("img/kutyahero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

/*Keresés + szűrés rész*/
.search-box{
  background-color: #b2dadf;
}
.search-box fieldset h2{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
.search-box fieldset p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
.form-control{
  max-width: 15%;
}
.form-control-age{
  border-radius: 7px;
  border: 1px solid #aaa;
  height: 40px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 0 15px;
  margin-top: 15px;
  box-sizing: border-box;
  width: 100%;
}

.checkbox{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.search-box fieldset ul li label {
  padding-left: 3px !important;
  font-weight: 600;
}

ul{
  list-style: none !important;
  padding-left: 20px !important;
}
fieldset > h2, h3, p, label{
  text-decoration: none !important;
}
.action-button{
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  max-width: 100%;
  padding: 2px 44px;
}
.action-button:hover{
  color:#fff;
  background-color: #6a135c;
}
.resetfields{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/*Állatok "doboza"*/
.animal-box {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #eef4f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
}

.animal-box img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.animal-box h3 {
  font-size: 1.5em;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.animal-box p {
 padding: 0 !important;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 17.5px;
}

.animal-box .adopt-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.animal-box .adopt-button:hover {
  background: #6a135c;
  color: #fff !important;
}

.animal-box .adopt-button::after{
  background: url("img/arrow_right.svg") no-repeat center center;
  margin-left: 15px;
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  vertical-align: -1.9px;
}

/*Bejelntkezés regisztrálció*/
.log_in_style, .registration-style{
  max-width: 400px;
  width: 80%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.registration-style{
  padding: 30px;
}
.log_in_style .registration-style{
  display: none;
}
#check:checked ~ .registration-style{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.log_in_style .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
  .form input{
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
  }
  .form input:focus{
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.signup > a{
  color: #009579 !important;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup a{
  color: #009579;
  cursor: pointer;
}
.signup a:hover{
  color: #006653 !important;
}
.signup label:hover{
  text-decoration: underline;
}
